rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }

    function isCurrentUser(request, userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // Allow users to upload submissions under their directories
    match /submissions/{userId}/{exerciseId}/{submissionPath=**} {
      allow create: if isCurrentUser(request, userId);
      allow read: if isCurrentUser(request, userId);
    }
  }
}
