rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }

    function isCurrentUser(request, userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // Allow users to upload profile pictures under their directories
    match /profilePictures/{userId}/{filename} {
      allow write: if isCurrentUser(request, userId);
      allow read;
    }

    // Allow users to upload pictures under their directories
    match /pictures/{userId}/{filename} {
      allow write: if isCurrentUser(request, userId);
      allow read;
    }
  }
}
